.task {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 90px 70px 30px;
  // justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
  margin-bottom: 10px;

  .taskText,
  .taskDate {
    margin: 0;
  }

  .taskDate {
    font-size: 0.8rem;
    justify-self: center;
  }

  .doneButton,
  .deleteButton {
    padding: 3px;
    margin: 0;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    color: white;
  }
  .doneButton {
    background-color: rgb(248, 177, 83);
  }

  .deleteButton {
    background-color: rgb(248, 94, 55);
    font-weight: 700;
  }

  .doneButton:hover,
  .deleteButton:hover {
    box-shadow: 0 0 10px -3px rgb(112, 112, 112);
  }
}
